<% if (message.length > 0) { %>
<div class = "err_message">
    <div class = "row">
      <div class = "col-sm-12">
      <p class= "text-danger">
        <%= message %>
      </p>
      </div>
    </div>
</div>
<% } %>

<h1>Hi <i><%= user %></i>, what would you like to add to the list?</h1>

<a href="/logout" class="btn btn-warning btn-lg">Not you? Log Out</a>

<%# <form action="/logout">
  <input type="Submit" value="Not you? Log Out."/>
<form>%>

<div id="users_list">
  <h3>You are sharing this list with: </h3>
  <ul id= "users_list">
    <% usersArray.forEach(function (user){ %>
        <% if (user) { %>
          <li><%= user %></li>
        <% } %>
    <% }) %>
  </ul>
</div>

<div id="grocery_list">
  <h4><%= groceryList.name %></h4>
  <div contenteditable="true" class="table name">Items to Buy</div>
      <div contenteditable="true" class="table qty">Qty</div>

  <% if (groceryList.items[0] == '') {%>
  <div contenteditable="true" class="line name"></div>
      <div contenteditable="true" class="line quantity"></div>
  <% } %>
  <% groceryList.items.forEach(function(item){ %>
    <% if (item) { %>
    <div contenteditable="true" class="line name"><%= item.name %></div>
        <div contenteditable="true" class="line quantity"><%= item.quantity %></div>

    <% } %>


  <% }) %>
</div>
